<% if (!valid) { %>
    <div class="alert alert-warning" role="alert">
        Oops, looks like this link is expired. Try to <a href="/reset" class="alert-link">generate another reset link</a>.
    </div>
<% } else { %>
    <form action="/reset-confirm/<%= token %>" method="POST">
        <% if (messages && messages.error) { %>
            <div class="alert alert-danger" role="alert"><%= messages.error %></div>
        <% } %>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input 
                type="password" 
                class="form-control <%= (messages && messages.password_error) ? 'is-invalid' : '' %>" 
                id="password" 
                name="password">
            <div class="invalid-feedback"><%= messages && messages.password_error %></div>
        </div>
        <div class="mb-3">
            <label for="confirmPassword" class="form-label">Confirm password</label>
            <input 
                type="password" 
                class="form-control <%= (messages && messages.confirm_error) ? 'is-invalid' : '' %>" 
                id="confirmPassword" 
                name="confirmPassword">
            <div class="invalid-feedback"><%= messages && messages.confirm_error %></div>
        </div>
        <div>
            <button type="submit" class="btn btn-primary">Confirm reset</button>
        </div>
    </form>
<% } %>
